project:
  type: website

website:
  title: "Yufan Zhao's Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmb
        text: Project

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



