project:
  type: website

website:
  title: "Yufan Zhao"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: project.qmd
        text: Project
        
  page-footer:
    right: "&copy; 2025, Yufan Zhao "

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

execute:
  freeze: auto

